APP_NAME=SurveyAI
APP_VERSION=1.0.0

APP_ENV=development
APP_DEBUG=true

HOST=127.0.0.1
PORT=8000

SECRET_KEY=YOUR_SECRET_KEY

LOG_LEVEL=INFO

DATABASE_URL=postgresql+psycopg://postgres:YOUR_PASSWORD@localhost:5432/survey_ai