fastapi>=0.116,<0.117
uvicorn[standard]>=0.35,<0.36

sqlalchemy>=2.0,<2.1
alembic>=1.16,<1.17
psycopg[binary]>=3.2.13,<3.3

pydantic>=2.11,<2.12
pydantic-settings>=2.10,<2.11

python-dotenv>=1.1,<1.2
python-multipart>=0.0.20,<0.1

orjson>=3.11,<4
httpx>=0.28,<0.29
structlog>=25.4,<26

pytest
pytest-asyncio

email-validator

PyJWT